* {
  margin: 0px;
  padding: 0px; }

.container {
  height: 100vh;
  background: url("/template/img/dark-triangles.png") 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.wrapper_form {
  width: 320px;
  padding: 15px;
  background: #f5f5f52d; }

.container_form {
  background: #b3b3b3;
  text-align: center;
  padding: 50px 30px 15px; }

h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #000; }

.wrapper_input {
  border: 1px solid #575757;
  margin-bottom: 15px;
  background: #fff;
  display: flex; }

input {
  height: 50px;
  border: none;
  width: 240px; }

input:active, input:focus {
  outline: none;
  border: none; }

.login_button, .password_button {
  height: 50px;
  width: 50px; }

.login_button {
  background: url("/template/img/account.png"); }

.password_button {
  background: url("/template/img/key.png"); }

button {
  background: #ff000f;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 50px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px; }

.forgot {
  text-decoration: underline; }

.empty_input {
  border-bottom: 2px solid red; }

.error p {
  text-align: left; }

.error p:first-child {
  margin-top: 15px; }
